---
layout: default
---

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <article class="article-post">
                <h1 class="article-post-title">{{ page.title }}</h1>
                <div class="article-post-content">
                    {{ content }}
                </div>
                </article>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include sidebar.html %}
    </div>
</div>
</div>
